.form{
    width: 400px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: rgba(255, 255, 255, .2); */
    background-image: url("./form50.svg");
    padding: 20px;
    border-radius: 10px;
    opacity: 0.9;
    /* border: 3px solid green; */
    box-shadow: 0 0 15px white
}
form.login{
    width: 300px;
}
.login input:not([type="submit"]){
    width: 100%;
}
.form .invalid{
    border: 2px solid red
}
.form .invalid+div::before{
    content: '❌';
    position: absolute;
    left: 10%;
    top: -8%;
    color: red;
}
.form .valid{
    border: 2px solid green
}
.form .valid+div::before{
    content: '✔';
    position: absolute;
    left: 10%;
    top: -8%;
    color: green;
}