@font-face{
  font-family: 'Hemi Head';
  src: url('./Hemi\ Head.ttf');
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  --light: #00bd9d;
  --lightest: #0de4c0;
  --main-blue: rgb(25, 114, 216);
  --header-left: #29bae4;
  --header-right: #ee76ad;
  --form-bg: #6eeb83;
  --text-color: #190b28;
  background-image: url("./background.svg"); /* linear-gradient(45deg, var(--light), var(--lightest)); */
  color: var(--text-color);
  overflow-y: hidden
}
.HemiHead{
  font-family: 'Hemi Head', sans-serif
}
